name: Build and Push Docker Image

on:
  push:
    branches:
      - master  # Change this to your target branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'openjdk:17-jdk-slim'  # This line is added to specify the distribution


      - name: Build the project (Maven)
        run: mvn clean install

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/presentsir-server:latest .
          docker tag ${{ secrets.DOCKER_HUB_USERNAME }}/presentsir-server:latest ${{ secrets.DOCKER_HUB_USERNAME }}/presentsir-server:${{ github.sha }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/presentsir-server:latest
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/presentsir-server:${{ github.sha }}
